.container {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative
}

.removeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    user-select: none;
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.price {
    font-size: 15px;
}

.category {
    margin-top: 10px;
    color: rgba(0,0,0,0.4);
}